# Ignorar arquivos compilados e de build
bin/* linguist-vendored
obj/* linguist-vendored
*/bin/* linguist-vendored
*/obj/* linguist-vendored

# Ignorar arquivos C# gerados automaticamente no cálculo de linguagens
*.Designer.cs linguist-generated
*.g.cs linguist-generated
*.AssemblyInfo.cs linguist-generated
*.csproj linguist-vendored
*.sln linguist-vendored

# Não contar dependências de terceiros
vendor/* linguist-vendored
packages/* linguist-vendored


# Especificar linguagem Rust
*.rs linguist-language=Rust
Cargo.toml linguist-language=Rust
Cargo.lock linguist-language=Rust

# Ignorar arquivos C# do Unity
Final Project - Beat Saber Inspired Game/Library/PackageCache/** linguist-vendored
Final Project - Beat Saber Inspired Game/Assets/*.cs linguist-vendored
*.cs linguist-vendored